#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

#content > div {
  text-align: center;
}

div#artistHeader {
  border-style: solid;
  border-width: 0.3px;
  border-color: lightgrey;
  padding: 25px;
  width: 500px;
  margin: 0px;
}

#artistSearchBox {
  width: 65%;
  height: 30px;
}

#addArtistBtn {
  width: 15%;
  height: 30px;
}
#searchArtistBtn {
  width: 15%;
  height: 30px;
}

#addArtist {
  display: none;
  width: 400px;
  align-items: center;
  text-align: center;
}

#addArtist input {
  height: 30px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#addArtist button {
  width: 100px;
  height: 30px;
  margin: 0 auto;
}

#artistList {
  width: 500px;
  margin: 0;
}

ul#list {
  margin: 0;
  padding: 0;
}

#artistList li {
  text-align: left;
  border-style: solid;
  border-width: 0.3px;
  border-color: lightgrey;
  height: 100px;
}

#artistList li:hover {
  background-color: lightgrey;
}

button {
  border: none;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin: 5px;
  display: inline-block;
}

#list {
  list-style-type: none;
  /* padding: 10px; */
}
.artistImage {
  float: left;
  padding: 12px;
  min-width: 10px;
  min-height: 30px;
}

.artistDescription {
  display: inline;
  margin: auto;
}

.artistDeleteBtn {
  float: right;
  background-color: red;
  margin-right: 20px;
  width: 50px;
  height: 30px;
}
